body {
    background-color: #4FC3F7;
    margin: 0;
    font-family: 'Fredoka', Arial, sans-serif;
}

header {
    text-align: center;
    color: white;
    padding: 20px 0 0 0;
}

#div-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#div-header h1 {
    font-size: 48px;
    margin: 0;
    color: #FF4081;
}

.conteudo-branco {
    background-color: white;
    color: #333;
    padding: 40px;
    margin: 0px auto 40px auto;
    max-width: 1000px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.numbers {
    font-size: 96px;
    font-weight: bold;
    background-color: #FFEB3B;
    color: #BA68C8;
    padding: 50px;
    margin: 20px auto 40px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview {
    margin: 20px auto;
    text-align: center;
}

.image-preview img, .image-preview canvas {
    max-width: 280px;
    border: 2px solid #ddd;
    margin: 10px;
}

.bom { 
    background-color: #d4edda; 
    color: #155724; 
}
.regular { 
    background-color: #fff3cd; 
    color: #856404; 
}
.ruim { 
    background-color: #f8d7da; 
    color: #721c24; 
}

.result {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.debug {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
    font-family: monospace;
}

button {
    background-color: #FF4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #E91E63;
}

#resetButton {
    display: none;
}


input[type="file"] {
    margin: 10px 0;
}